$primary: #626BC6;
$secondary: #97c965;

$primary-light: #FBF3E5;

$fa-font-path: "../../vendor/fa/webfonts";
@import 'vendor/fa/fontawesome';
@import 'vendor/fa/brands';
@import 'vendor/fa/solid';

@import 'node_modules/bulma/sass/utilities/initial-variables';

$custom-colors: ("primary-light": ($primary-light, $grey-dark));

@import 'node_modules/bulma/bulma';
@import 'node_modules/bulma-extensions/bulma-pricingtable/src/sass/index';
@import 'node_modules/bulma-extensions/bulma-divider/src/sass/index';
//@import 'node_modules/aos/src/sass/aos';

@import 'gh-fork-ribbon';

.columns-reversed {
  flex-direction: row-reverse;
}



.store-badges {
  vertical-align: middle;
  text-align: center;

  a {
    /* width: 135px; */
    /* height: 40px; */
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
  }
  a.android img {
    height: 60px;
  }

  a.macos img {
    margin-left: 8px;
    width: 156px;
    height: 40px;
  }
}
.screenshots-badges a.android {
  margin-right: 32px;
  margin-left: 40px;
}

.github-fork-ribbon.right-bottom:before {
  background-color: #090;
}



.hero.has-bg-img {
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;

  .bg-image {
    background-position: center;
    background-size:cover;
    overflow: hidden;
    //background: #000;
    //background: darken($primary, 30%);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(3px);
    margin: -3px;
    //transform: translateZ(-1px) scale(1.5);
    background-attachment: fixed;

    &::before {
      content: ' ';
      opacity: 0.5;
      background: darken($primary, 30%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .hero-body {
    z-index: 10;
  }

  .title, .subtitle {
    color: #fefefe;
  }
}
